name: CI
on: [ push, pull_request ]
jobs:
  Build:

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [ 20 ]
        integration-deps:
          - diagram-js@7.x bpmn-js@8.x
          - "" # as defined in package.json

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Setup project
      uses: bpmn-io/actions/setup@latest
    - name: Install dependencies for integration test
      if: ${{ matrix.integration-deps != '' }}
      run: npm install ${{ matrix.integration-deps }}
    - name: Build
      run: npm run all
